################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/GrupoDePoblacion/GrupoDePoblacion/GrupoDePoblacion/.vs/GrupoDePoblacion/v16
